.card_grid {
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 1000px;
    height: 100%;
    margin: 0px auto;
}

.card {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    width: 300px;
    border: 1px solid red;
    position: relative;
    text-decoration: none;
}

.card img {
    width: 230px;
    object-fit: cover;
}

.card .description {
    height: 50px;
    margin-bottom: 25px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card hr {
    width: 210px;
    border: 1px solid #909090;
}